/* ++++++ Основные переменные с Header+++++ */

/* точка /маркер */
.marker {
  list-style: none;
}
.underlining {
  text-decoration: none;
}
/* псевдокласс */

/* :hover
    :focus
    :active
    :visited */

.list :hover,
:focus {
  color: #212121;
  background-color: #2196f3;
}
/* хедер  */
.header {
}

/* навигация */
.navigation {
}
/* стиль логотипа */

.navigation-stil-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-bottom: 24px;
  margin-left: 215px;
}
/* стиль логотипа */

.navigation-list {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
/* Телефон мыло */
.called {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
/* Студия /портфолио/контакт */
.item-studio {
  margin-bottom: 32px;
  margin-left: 453px;
}
.item-portfolio {
  margin-bottom: 32px;
  margin-left: 552px;
}
.item-contacts {
  margin-bottom: 32px;
  margin-left: 679px;
  display: flex;
}
.navigation-list-cont {
  margin-bottom: 32px;
  margin-left: 1078px;
}
.navigation-list-mail {
  margin-bottom: 32px;
  margin-left: 1263px;
}
/* Хедер закончился */

/* навигационные кнопки */
.section-adventure {
  display: flex;
  margin-left: 495px;
  padding-top: 5px;
  font-size: center;
  justify-content: space-around;
  align-items: center;
}

.click-transition {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
}
/* картинки с описанием */
.paragraph-pictures {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 0.5;
  color: #212121;
}

/* текст в картинках портфолио*/
.tech-portfolio-pictures {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}
