/* маркер */
.marker {
  list-style: none;
  text-decoration: none;
}
/* подчеркивание */
/* .underlining {
  text-decoration: none; */
}

/* хедер  */
.header {
  background: #ffffff;
}
/* навигация */
.navigation {
}
.navigation-stil {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
/* псевдокласс */

/* :hover
    :focus
    :active
    :visited */

.navigation-list:hover,
:focus {
  color: #ffffff;
  background-color: #2196f3;
}
